# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
        colors = false
        interval = 5
}

order += "read_file weather"
{{ if eq .chezmoi.hostname "amdbox" }}
order += "read_file solar"
{{ end }}
{{ if eq .chezmoi.hostname "nano" }}
order += "battery all"
{{ end }}
order += "disk /"
order += "memory"
order += "volume master"
order += "tztime berlin"
order += "tztime local"

read_file weather {
	format = "%content"
	path = "/tmp/weather_cache.txt"
}

read_file solar {
	format = "%content"
	path = "/tmp/solar_cache.txt"
}

battery all {
        last_full_capacity = true
	integer_battery_capacity = true
        format = "%status %percentage %remaining %consumption"
}

disk "/" {
        format = "%avail"
}

memory {
        format = "%used"
        threshold_degraded = "1G"
        format_degraded = "MEMORY < %available"
}

volume master {
        format = "%devicename: %volume"
        format_muted = "%devicename: 🔇 (%volume)"
        device = "default"
        mixer = "Master"
        mixer_idx = 0
}

tztime local {
        format = "%Y-%m-%d %H:%M:%S 🇺🇸"
}

tztime berlin {
        format = "%H:%M 🇩🇪"
        timezone = "Europe/Berlin"
        hide_if_equals_localtime = true
}
